@charset "UTF-8";
$fontSize:20;
@function r($as){
	@return $as/$fontSize+rem;
}
html{
	background:#EDECEC;
}
body{
	background:#EDECEC;
}
.flex{
	display:flex;
	align-items:center;
}
a{
	text-decoration:none;
	color:#666;
	cursor:pointer;
}
p{
	margin-bottom:0;
}
img{width:100%;display:block;}
#wrappers{
	width:100%;
	height:auto;
	
}
#nav-fix{
	position:fixed;
	top:0;
	width:100%;
	height:47px;
	background:#fff;
	z-index:99999;
	.logo{
		width:94px;
		height:auto;
		margin:0 auto;
		margin-top:6px;
		overflow:hidden;
	}
	.location{
		width:r(89);
		height:100%;
		line-height:47px;
		position:absolute;
		left:5%;
		top:0;
		span{
			display:block;
			float:left;
			margin-top:17px;
		}
		.fo1{
			width:42px;
			margin:0 3px;
			margin-top:14px;
			line-height:19px;
			font-size:14px;	
		}
		.fo2{
			margin-top:18px;
		}
	}
}

/*轮播图*/
.lunbo{
	width:100%;
	height:r(160);
	margin-top:47px; 
	.col span{background:red;}
}
/*定制蛋糕部分*/
#dingz{
	width:100%;
	height:153px;
	box-sizing:border-box;
	background:#fff;
	padding-top:20px;
	li{
		width:25%;
		float:left;
		text-align:center;

		a{
			display:block;
			width:80px;
			margin:0 auto;
		}
		p{
			margin-bottom:0;
			white-space: nowrap;
		}
		.en{
			font-size:12px;
		 	
			margin-bottom:0;
		}
	}
}

#jptj{
	width:100%;
	height:58px;
	box-sizing:border-box;
	padding-top:20px;
	i{
		display:block;
		width:15px;
		height:18px;
		float:left;
		margin-left:2%;
	}
	p{
		margin-bottom:0;
	}
	p.jp{
		width:40%;
		height:28px;
		float:left;
		margin-left:2%;
		//line-height:28px;
	}
	p.more{
		width:r(55);
		margin-right:2%;
		height:28px;
		float:right;	
	}
}


.aliwrap{
	width:94%;
	margin:0 auto;
	height:r(150);
	a{
		width:47%;
		display:block;
	}
}
.lefts{
	box-sizing:border-box;
	border-radius:r(10);
	background:#fff;
	padding:r(7);
	float:left;
	img{
		border-radius:r(10);
	}
}
.rights{
	margin-left:2%;
	float:right;
	.r-top,.r-bottom{
		width:100%;
		box-sizing:border-box;
		border-radius:r(10);
		background:#fff;
		padding:r(7);
		height:r(65);
		@extend .flex;
	}
	.r-bottom{
		margin-top:r(10);
	}
	a{
		display:block;
		width:r(63);
		height:r(63);
		border-radius:r(10);
		margin-left:-7px;
		img{
			border-radius:r(10);
		}
	}
	.detail{
		width:r(74);
		height:r(63);
		overflow:hidden;
		text-overflow:ellipsis;
		p{
			margin-left:r(5);
			font-size:12px;
			margin-bottom:r(5);
			white-space:nowrap;
			overflow:hidden;
			text-overflow:ellipsis;
		}
	}
} 
.golder {
	width:100%;
	margin:0 auto;
	height:r(165);
	background:#fff;
	border-radius:r(10);
	div,li{
		width:29.3%;
		margin:2%;
		float:left;
		text-align:center;
		p{
			margin-bottom:0;
			font-size:r(12);
			white-space:nowrap;
			overflow:hidden;
			text-overflow:ellipsis;
		}
		img{
			border-radius:r(10);
		}
	}
}
.like{
	text-align:center;
}
.yourlike{
	height:auto;
	li{
		width:46%;
	    box-sizing: border-box;
	    padding: 5px;
	    background: white;
	    border-radius:10px;
	    overflow:hidden;
	}
}
.swiper-container2 #swipers>.swiper-slide{
	margin:0;
	margin-top:5px;
}
#login{
	li{
		float:left;
		a{
			font-size:14px;
		}
	}
	.loginin{
		margin-left:5%;
	}
	.spacer{
		margin:0 10px;
	}
	.retur{
		float:right;
		margin-right:5%;
	}
}
footer{margin-bottom:80px;clear:both;padding-top:20px;p{margin-bottom:5px;}.fot1{
	width:100%;
	height:56px;
	border-bottom:1px solid #ccc;
}}
.time{
	width:100%;
	text-align:center;
}
.tel{
	@extend .time;
	button{
		border-radius:r(5);
	}
	i{
		display:block;
		width:14px;
		height:14px;
		float: left;
   		margin-top: 2px;
   		margin-right:3px;
		background:url(../imgs/tel_bg.png) no-repeat center;
		background-size:contain;
	}
}
.fot2{
	width:100%;
	padding:0 5%;
	background:#EDECEC;
	border-bottom:1px solid #ccc;
	ul{
		margin-bottom:0;
	}
	li{
		float:left;
		width:30%;
		height:40px;
		line-height:40px;
		box-sizing:border-box;
		a{
			font-size:14px;
		}
	}
	ul li.centers{
		text-align:center;
	}
	ul li.rightss{
		text-align:right;
	}
}
.di{
	clear:both;
	width:100%;
	p{width:100%;text-align:center;margin-bottom:0;font-size:12px;padding:0 5%;box-sizing:border-box;}
}

#foot-fix{
	position:fixed;
	bottom:0;
	z-index:9999;
	background:#fff;
	width:100%;
	margin-top:20px;
	li{
		width:20%;
		height:50px;
		text-align:center;
		float:left;
		margin-top:20px;
		a{
			display:block;
			width:20px;
			height:20px;
			margin:0 auto;
		}
		.count{
			position:relative;
			.counts{
				display:block;
				position:absolute;
				width:18px;
				height:18px;
				background:red;
				color:#fff;
				right:19px;
				top:-27px;
				border-radius:50%;
			}
		}
	}
}


/*----------list样式----------*/
#headcl{
	width:100%;
	height:47px;
	position:fixed;
	top:0;
	z-index:9999;
	background:#fff;
	span{
		display:block;
		float:left;
	}
}
.list-right{
	width:50%;
	float:left;
	border-left:1px solid #ccc;
}
.list-left,.list-right,.list-all{
	width:100%;
	height:47px;
	float:left;
	box-sizing: border-box;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	@extend .flex;
	justify-content:center;
	span.lr2{
		display:block;
		width:10px;
		height:9px;
		margin-left:3px;
	}
}
.diff1,.diff2{
	width:50%;
	float:left;
	ul{
		width:100%;
		height:112px;
		background:white;
		display:none;
		position:absolute;
		top:47px;
		left:0;
		padding:20px 0;
		li{
			width:22%;
			margin-left:2%;
			margin-top:7px;
			height:28px;
			font-size:13px;
			float:left;
			border-radius:20px;
			border:1px solid #ccc;
			text-align:center;
			line-height:28px;
		}
		li.biaoji{
			border:1px solid red;
			a{
				color:red;
		}
}
	}
}
.diff3{
	width:100%;
	height:100px;
	ul{
		height:86px;
	}
}
.diff-ps ul{
	height:60px;
	li{
		margin-left:8%;
	}
}
.dgg{
	width:100%;
	margin-top:47px;
}
.list-all{
	width:100%;
}
.g-left{position:relative;}
.btn-add{
	display:block;
	width:r(35);
	height:r(35);
	position:absolute;
	bottom:r(-3);
	right:r(-3);
	img{
		width:100%;
	}
}



/*-------------shopcart购物车--------------*/

#shopcart{

	li{
		height:47px;
		line-height:47px;
		text-align:center;
		font-size:16px;
		color:#0055A2;
		position:relative;
		background:white;
		border-bottom:10px solid #EDECEC;
		p{
			margin-bottom:0;
			background:white;
		}
	}
	#jiesuan{
		div{
			width:30%;
			float:left;
			font-size:14px;
			text-align:left;
		}
		div.first-div{
			width:36%;
			text-align:left;
		}
	}
}
.allcheck{
	margin-left:40px;
}


.price{color:red;}
#shopcart #jiesuan div.gomoney{background:#0055A2;color:white; text-align:center;}
.btn-check{
	width:19px;
	height:19px;
	display:block;
	float:left;
	position:absolute;
	top:8px;
	left:10px;
	background:url(../imgs/checked.png) no-repeat center;
	background-size:cover;
}
#shopcart ul{margin-bottom:0;}
.pj{ width:100%;height:r(23);background:white url(../imgs/accessories.png) no-repeat left;background-size:r(132) r(23);}


#shopcart li.active{
		height:r(94);
		line-height:20px;
		text-align:left;
		border-bottom:3px solid  #EDECEC;
		.btn-checks{
			top:50%;
			margin-top:-9px;
		}
		.item{
			display:block;
			width:r(61);
			height:r(61);
			border-radius:r(10);
			overflow:hidden;
			margin-left:40px;
			float:left;
			margin-top:r(16);
		}
		.xq{
			width:60%;
			height:r(61);
			float:left;
			margin-left:20px;
			margin-top:r(16);
			font-size:14px;
			p{
				height:r(21);
				line-height:r(21);
			}
			button{
				width:20px;
				height:20px;
				border-radius:50%;
				background:blue;
				color:white;
				line-height:18px;
				text-align:center;
				border:1px solid blue;
				cursor:pointer;
			}
			.summer,.deletes{
				float:right;
			}
			
		}
}