

.num{
	width:0.7rem;
	height:0.7rem;
	background:#BA9978;
	position:absolute;
	top:0.3rem;
	right:0.8rem;
	color:#fff;
	text-align:center;
	line-height:0.7rem;
	font-size:0.6rem;
}

#car-main{
	width:100%;
	height:auto;
	overflow:hidden;
	background:#F8F8F8;
}

.car-title{
	width:100%;
	height:1.9rem;
	font-size:0.6rem;
	color:#442818;
	text-align:center;
	line-height:1.9rem;
	background:#F8F8F8;
	float:left;
}

.car-container{
	width:100%;
	height:10rem;
	background:#fff;
	float:left;
	margin-bottom:0.5rem;
}
.picture{
	width:5.45rem;
	height:6.1rem;
	float:left;
	margin-left:1.2rem;
}
.intro{
	float:left;
	margin-top:1.25rem;
	margin-left:0.5rem;
	font-size:0.6rem;
	color:#442818;
	padding-top:0.25rem;
}
.intro :nth-child(5){
	color:#ccc;
	font-size:0.5rem;
	
}
.intro .jiaJ{
	float:left;
	margin-left:3.9rem;
}
.jiaJ input{
	width:1.25rem;
	height:1.25rem;
	border:none;
	background:#F0F0F0;
	text-align:center;
}
.jiaJ button{
	width:1.25rem;
	height:1.25rem;
	border:none;
	background:#F0F0F0;
}
.canju{
	float:left;
	margin-left:1.2rem;
	width:7.5rem;
	height:1.3rem;
}
.car-foot{
	width:100%;
	float:left;
	margin-left:0.5rem;
	margin-top:0.5rem;
}
.birth{
	float:left;
	margin-left:0.6rem; 
}
.car-container span{
	float:left;
	font-size:0.7rem;
	margin-left:2.0rem;
	font-size:0.6rem;
	color:#ccc;
}
.car-container .derct{
	float:right;
	font-size:0.9rem;
	margin-right:1.5rem;
}
button{
	text-align:center;
	font-size:0.7rem;
}
.wu{
	background:#fff;
	width:100%;
	height:23.0rem;
	
}
.wu a{
	display:block;
	text-align:center;
	font-size:0.8rem;
	font-size:0.7rem;

}
.wu img{
	width:7.5rem;
	height:7.5rem;
	display:block;
	margin:0 auto;
	padding-top:7rem;
}
.goods{
	width:49%;
	height:7.7rem;
	float:left;
	margin-left:2%;
	margin-bottom:0.3rem;
	position:relative;
	background:#fff;
}
.kongzhi :nth-child(1){
	margin-left:0;
}
.kongzhi :nth-child(3){
	margin-left:0;
}

.lazhu{
	width:5.5rem;
	height:5.5rem;
	padding-left:1.5rem;

}
.word p{
	padding-left:0.5rem;
	font-size:0.6rem;
}
.word :nth-child(2){
	float:left;
}
.shopcar-car{
	float:right;
	width:0.9rem;
	height:0.9rem;
	margin-right:1.0rem;
}
.pei{
	width:0.9rem;
	height:1.9rem;
	font-size:0.6rem;
	color:#D9B27F;
	position:absolute;
	border:1px solid #D9B27F;
	text-align:center;
	top:0px;
	left:0.9rem;

}
.empty{
	width:100%;
	height:2.0rem;
	background:#fff;
}
.price-content{
	width:100%;
	height:2.2rem;
	float:left;
	position:fixed;
	bottom:0px;
	background:#fff;
	border-top:1px solid #ccc;
}
.del{
	width:2.2rem;
	height:2.2rem;
	float:left;
}
.allprice{
	width:4.5rem;
	float:left;
	margin-left:3.0rem;
	color:#442818;
}
.jiesuan{
	width:4.8rem;
	height:2.2rem;
	float:right;
	background:#442818;
	line-height:2.2rem;
	text-align:center;
}

