/* oppo */
*{
	box-sizing:border-box;
}
li{
	list-style:none;
}
a{
	text-decoration:none;
}
@media all and (min-width:990px){
	#qq,#hh ,#qq-1,#hh2,#footer-2,#oppo{
		display:none;
	}
header{
	width:100%;
	height:30px;
	background:#009B72;
}
#title{
	width:90%;
	height:30px;
	background:#009B72;
	line-height:30px;
	margin:0 auto;
}
#title>ul{
	width:20%;
	height:auto;
	margin-left:80%;
}
#title>ul>li{
	float:left;
	width:32%;
	height:auto;
	border-left:1px solid #47B488;
	text-align:center;
	line-height:30px;
	background:transparent;
}
#title>ul>li>a{
	color:#fff;
	font-size:14px;
}
#title>ul>li:hover{
	background:#47b488;
}
#title-1{
	width:100%;
	height:78px;
	margin:0 auto;
}
#title-2{
	width:90%;
	height:auto;
	background:blue;
	margin:0 auto;
}
.list{
	width:10.5%;
	height:auto;
	float:left;
}
.list img{
	width:100%;
	display:block;
	margin:34px 0 20px;
	padding:2px 0 2px;
}
.list-1{
	width:47%;
	height:auto;
	/*background:yellow;*/
	float:left;
	margin:34px 0 20px;
	margin-left:42.5%;
}
.list-1>ul>li{
	width:14%;
	height:auto;
	float:left;
	text-align:center;
}
.list-1>ul>li>a{
	font-size:16px;
	color:#7B7B7B;
	padding:2px 0 2px;
	
}
#list-2{
	border-bottom:2px solid #2AAD6F;
}
/* 主要部分 */
main{
	width:100%;
	height:auto;
	overflow:hidden;
}
section{
	width:99.9%;
	height:auto;
	margin:0 auto;
}

section img{
	width:100%;
	display:block;
}
.ttu1{
	width:100%;
	height:auto;
	margin-top:5px;
	overflow:hidden;
}
.picture{
	width:32.5%;
	height:auto;
	float:left;
	margin-left:0.5%;
}
.picture img{
	width:100%;
	display:block;
}
/* 尾部 */
footer{
	width:100%;
	height:auto;
	margin-top:3%;
	
}
#type{
	width:90%;
	height:auto;
	margin:0 auto;
	padding:10px 0;
	overflow:hidden;
	border-bottom:2px solid #cfcfcf;
}
#typeface{
	width:18%;
	height:auto;
	float:left;
	padding:10px 0;
}
#typeface>a>h3{
	font-size:15px;
	color:#363636;
	font-weight:700;
	margin-bottom:20px;
}
.typeface-1>li{
	margin-bottom:10px;
}
.typeface-1>li>a{
	font-size:13px;
	color:#393939;
}
#typeface-2{
	width:18%;
	height:auto;
	float:left;
	padding:10px 0;
	margin-left:6%;
}
#typeface-2>a{
	width:100%;
	height:auto;
	padding-left:18%;
}
#typeface-2>h2{
	font-size:28px;
	margin-top:20px;
	text-align:center;
	margin-left:15%;
}
#typeface-2>p{
	width:100%;
	height:auto;
	font-size:16px;
	text-align:center;
	margin-left:18%;
}
address{
	width:100%;
	height:auto;
	clear:both;	
}
#hezi{
	width:90%;
	height:auto;
	margin:0 auto;
	/*overflow:hidden;*/
	padding:40px 0;
	margin-top:1px solid #ccc;
}
#hezi>p{
	width:56%;
	height:auto;
	font-size:13px;
	color:#7B7B7B;
	float:left;
}
.identification{
	width:24px;
	height:25px;
	float:left;
	background:url(../imgs/icon-identification.png);
	margin-top:-6px;
}
.identification:hover{
	background:url(../imgs/icon-identification.png) -25px 0px;
}
#footer-focus{
	width:21%;
	height:auto;
	float:left;
	margin-left:20%;
	margin-top:-6px;
	position:relative;
}
#footer-focus>p{
	width:38%;
	height:auto;
	float:left;
	color:#7B7B7B;
	font-size:14px;
	line-height:30px;
}
.icon-weibo{
	display:block;
	width:30px;
	height:30px;
	background:#C9C9C9;
	float:left;
	margin-left:2%;
	border-radius:25px;
	background:url(../imgs/新浪1.png);
}
.icon-weibo:hover{
	background:url(../imgs/新浪.png);
}
.icon-wechat{
	display:block;
	width:30px;
	height:30px;
	float:left;
	margin-left:5%;
	background:blue;
	border-radius:25px;
	background:url(../imgs/微信.png);
}
.icon-wechat:hover{
	background:url(../imgs/微信1.png);
}
.icon-fuwuchuang{
	display:block;
	width:30px;
	height:30px;
	float:left;
	margin-left:5%;
	background:blue;
	border-radius:25px;
	background:url(../imgs/服务窗.png);
}
.icon-fuwuchuang:hover{
	background:url(../imgs/服务窗1.png);
}
.qh{
	width:20%;
	height:auto;
	position:relation;
	
}
.qh>span{
	display:block;
	position:relation;
	z-index:100;
}
.qh2{
	width:148px;
	height:211px;
	position:absolute;
	border:1px solid #ccc;
	bottom:28px;
	left:70px;
	display:none;
}
.qh:hover>.qh2{
	display:block;
}
.qh2>a>img{
	width:100%;
	display:block;
}
/* 回到顶部 */
#ft1{
	width:80px;
	height:38px;
	background:#47B488;
	position:fixed;
	bottom:66px;
	right:68px;
	line-height:38px;
	text-align:center;
	display:none;
}
#ft1 a{
	color:#fff;
	font-size:14px;
}

#f4{
	width:40px;
	height:38px;
	position:fixed;
	bottom:66px;
	right:30px;
	background:#EDEDED;
	background-image:url(../imgs/backtop-icon.png);
	background-repeat:no-repeat;
	background-position:center;
}

#fo1{
	width:80px;
	height:38px;
	background:#47B488;
	position:fixed;
	bottom:25px;
	right:68px;
	line-height:38px;
	text-align:center;
	display:none;	
}
#fo1 a{
	color:#fff;
	font-size:14px;
}
#f5{
	width:40px;
	height:38px;
	position:fixed;
	bottom:25px;
	right:30px;
	background:#EDEDED;
	background-image:url(../imgs/feedback-icon.png);
	background-repeat:no-repeat;
	background-position:center;
}
#ft:hover #f4{
	background:#47B488;
	background-image:url(../imgs/hddb2.png);
	background-repeat:no-repeat;
	background-position:center;
	z-index:5;
}
#ft:hover #ft1{
	display:block;
}

#fo:hover #f5{
	background:#47B488;
	background-image:url(../imgs/yj1.png);
	background-repeat:no-repeat;
	background-position:center;
	z-index:1;
}
#fo:hover #fo1{
	display:block;
}
