@media all and (max-width:720px){
	#typeface-2,#typeface{
		display:none;
	}
	.ttu1{
	width:100%;
	height:auto;
	margin-top:5px;
	overflow:hidden;
	}
	.picture{
		width:90%;
		height:auto;
		margin-left:5%;
	}
	.picture img{
		width:100%;
		display:block;
	}
	
	#oppo{
		width:100%;
		height:auto;
		overflow:hidden;
		display:block;
	}
	#oppo1{
		width:96%;
		height:100px;
		margin:0 auto;
		background:#F6F6F6;
	}
	#oppo >#oppo1>a>img{
		display:block;
		float:right;
		width:40%;
		height:auto;
	}
	#oppo>#oppo1>h3{
		width:40%;
		height:auto;
		display:block;
		font-size:30px;
		margin-top:38px;
		
	}
	#oppo>#oppo1>p{
		display:block;
		margin-top:10px;
		width:40%;
		height:auto;
	}
	#footer-6{
		clear:both;
		width:24px;
		height:25px;
		margin-top:30px;
		margin-left:10px;
		background-image:url(../imgs/icon-identification.png);
		margin-left:50%;
	}
	#footer-6:hover{
		background-position:-24px 0px;
}