@charset "UTF-8";
.flex, .rights .r-top, .rights .r-bottom {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  color: #666;
  cursor: pointer;
}

p {
  margin-bottom: 0;
}

img {
  width: 100%;
  display: block;
}

#wrappers {
  width: 100%;
  height: auto;
  background: #EDECEC;
}

#nav-fix {
  position: fixed;
  top: 0;
  width: 100%;
  height: 47px;
  background: #fff;
  z-index: 99999;
}
#nav-fix .logo {
  width: 94px;
  height: auto;
  margin: 0 auto;
  margin-top: 6px;
  overflow: hidden;
}
#nav-fix .location {
  width: 4.45rem;
  height: 100%;
  line-height: 47px;
  position: absolute;
  left: 5%;
  top: 0;
}
#nav-fix .location span {
  display: block;
  float: left;
  margin-top: 17px;
}
#nav-fix .location .fo1 {
  width: 42px;
  margin: 0 3px;
  margin-top: 14px;
  line-height: 19px;
  font-size: 14px;
}
#nav-fix .location .fo2 {
  margin-top: 18px;
}

/*轮播图*/
.lunbo {
  width: 100%;
  height: 8rem;
  margin-top: 47px;
}
.lunbo .col span {
  background: red;
}

/*定制蛋糕部分*/
#dingz {
  width: 100%;
  height: 153px;
  box-sizing: border-box;
  background: #fff;
  padding-top: 20px;
}
#dingz li {
  width: 25%;
  float: left;
  text-align: center;
}
#dingz li a {
  display: block;
  width: 80px;
  margin: 0 auto;
}
#dingz li p {
  margin-bottom: 0;
  white-space: nowrap;
}
#dingz li .en {
  font-size: 12px;
  margin-bottom: 0;
}

#jptj {
  width: 100%;
  height: 58px;
  box-sizing: border-box;
  padding-top: 20px;
}
#jptj i {
  display: block;
  width: 15px;
  height: 18px;
  float: left;
  margin-left: 2%;
}
#jptj p {
  margin-bottom: 0;
}
#jptj p.jp {
  width: 40%;
  height: 28px;
  float: left;
  margin-left: 2%;
}
#jptj p.more {
  width: 2.75rem;
  margin-right: 2%;
  height: 28px;
  float: right;
}

.aliwrap {
  width: 94%;
  margin: 0 auto;
  height: 7.5rem;
}
.aliwrap a {
  width: 47%;
  display: block;
}

.lefts {
  box-sizing: border-box;
  border-radius: 0.5rem;
  background: #fff;
  padding: 0.35rem;
  float: left;
}
.lefts img {
  border-radius: 0.5rem;
}

.rights {
  margin-left: 2%;
  float: right;
}
.rights .r-top, .rights .r-bottom {
  width: 100%;
  box-sizing: border-box;
  border-radius: 0.5rem;
  background: #fff;
  padding: 0.35rem;
  height: 3.25rem;
}
.rights .r-bottom {
  margin-top: 0.5rem;
}
.rights a {
  display: block;
  width: 3.15rem;
  height: 3.15rem;
  border-radius: 0.5rem;
}
.rights a img {
  border-radius: 0.5rem;
}
.rights .detail {
  width: 3.7rem;
  height: 3.15rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
.rights .detail p {
  margin-left: 0.25rem;
  font-size: 12px;
  margin-bottom: 0.25rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.golder {
  width: 94%;
  margin: 0 auto;
  height: 8.25rem;
  background: #fff;
  border-radius: 0.5rem;
}
.golder div, .golder li {
  width: 29.3%;
  margin: 2%;
  float: left;
  text-align: center;
}
.golder div p, .golder li p {
  margin-bottom: 0;
  font-size: 0.6rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.golder div img, .golder li img {
  border-radius: 0.5rem;
}

.like {
  text-align: center;
}

.yourlike {
  height: auto;
}
.yourlike li {
  width: 46%;
}

#login li {
  float: left;
}
#login li a {
  font-size: 14px;
}
#login .loginin {
  margin-left: 5%;
}
#login .spacer {
  margin: 0 10px;
}
#login .retur {
  float: right;
  margin-right: 5%;
}

footer {
  clear: both;
  padding-top: 20px;
}
footer p {
  margin-bottom: 5px;
}
footer .fot1 {
  width: 100%;
  height: 56px;
  border-bottom: 1px solid #ccc;
}

.time, .tel {
  width: 100%;
  text-align: center;
}

.tel button {
  border-radius: 0.25rem;
}

.fot2 {
  width: 100%;
  padding: 0 5%;
  background: #EDECEC;
  border-bottom: 1px solid #ccc;
}
.fot2 ul {
  margin-bottom: 0;
}
.fot2 li {
  float: left;
  width: 33.33%;
  height: 40px;
  line-height: 40px;
  box-sizing: border-box;
}
.fot2 li a {
  font-size: 14px;
}
.fot2 ul li.centers {
  text-align: center;
}
.fot2 ul li.rightss {
  text-align: right;
}

.di {
  clear: both;
  width: 100%;
}
.di p {
  width: 100%;
  text-align: center;
  margin-bottom: 0;
  font-size: 12px;
  padding: 0 5%;
  box-sizing: border-box;
}

#foot-fix {
  position: fixed;
  bottom: 0;
  z-index: 9999;
  background: #fff;
  padding-top: 10px;
  width: 100%;
  margin-top: 20px;
}
#foot-fix li {
  width: 20%;
  height: 50px;
  text-align: center;
  float: left;
}
#foot-fix li a {
  display: block;
  display: flex;
  justify-content: center;
}
#foot-fix li img {
  width: 20px;
  height: 20px;
}

/*# sourceMappingURL=default.css.map */
