@charset "utf-8";

$fontSize:23.4;

@function r($px){
	@return $px/2/$fontSize+rem;
};
@mixin setPm($name,$val...){

	$max:length($val);

	$str:"";

	@for $i from 1 through $max{
		$value:nth($val,$i)/2/$fontSize;
		$str:#{$str+$value}rem;
		@if $i<$max{
			$str:#{$str+" "};
		}
	}
	#{$name}:$str;
}
// ------------------------
html body #wrapper{
	width:100%;
	height:100%;
	font-family: SimSun,Arial,Helvetica,"Microsoft YaHei",STHeiti,"Droid Sans Fallback",sans-serif;
}
// 导航
.navbar{
	height:50px;
	width: 100%;
    position:fixed;
    top: 0;
    left: 0;
    background-size: 100% 100%;
    z-index: 9998;
    background-color: rgba(0,0,0,0.75);
}
.navbar_left{
	width:r(100);
	height:50px;
	// background:red;
	// position:relative;
	position:absolute;
}
.xiala{
    display: none;
    position: absolute;
    top: 26px;
    left: 0;
    z-index: 10;
    width:375px;
    height: 467px;
    line-height: 26px;
    border: 1px solid #cdcdcd;
    background-color: #fff;
    font-size: 12px;
}


.cur_nav, .hover_nav {
    position: relative;
    display:block;
    height: 3px;
    width: 20px;
    top: 14px;
    margin-left: 20%;
    background:#fff;
}
.cur_nav:before {
    transition: All 0.5s ease-in-out;
    transform: translateY(-200%);
    -webkit-transform: translateY(-200%);
}
.cur_nav:after{
    transition: All 0.5s ease-in-out;
    transform: translateY(200%);
    -webkit-transform: translateY(200%);
 } 
.navbar_center{
	width:r(237);
	height:30px;
	// background:url(../imgs/nav_logo.png)no-repeat;
	background-size:100%;
	margin:0 auto;
	position:relative;
	// float:left;
}
.navbar_center>a{
	width:r(237);
	height:30px;
	background-size:100%;
	margin:0 auto;
	position:relative;
}
.navbar_center>a>img{
	width:100%;
    height:100%;
    padding-top:12px;
    display: inline-block;
}
.navbar_right{
	width:r(120);
	height:50px;
	// background:red;
	position:absolute;
	right:0;
	top:0;
}
.nav_right{
	width:r(50);
	height:30px;
	display:inline-block;
	background:blue;
	margin-top:13px;
	float:left;
}
.nav_right1{
	width:r(50);
	height:30px;
	float:right;
	// background:blue;
	margin-top:5px;
}
.nav_de{
	background:url(../imgs/2.png)no-repeat;
	background-size:100%;
}
.nav_gou{
	width:r(50);
	height:30px;
	display:inline-block;
	// background:blue;
	margin-top:10px;
	// display:block;
	background:url(../imgs/nav_car_cur.png)no-repeat;
	background-size:100%;
}
.moveDiv_mark{
	width: r(20);
    height: r(20);
    border-radius: 50%;
    position: absolute;
    top:r(55);
    right:r(12);
    // line-height: 12px;
    color: #fff;
    font-size: 14px;
    text-align: center;
}
/*<!-- 搜索框 -->*/
.sousuo{
	width:100%;
	height:40px;
	// background:red;
	// margin-top:50px;
	position:absolute;
	z-index:2;
	color:#ccc;
}
.deng{
	display:block;
	width:10%;
	height:40px;
	// background:red;
	float:right;
	// margin-top:50px;
	// position:absolute;
	z-index:2;
	color:#fff;
	margin-right:5%;
}
.sou{
	margin: 0 10px;
    height: 100%;
    line-height: 40px;
    // background:blue;
}
.sou1{
	width:80%;
	position: relative;
    background: white;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    height: 29px;
    // margin-top: 6px;
    margin-bottom:0;
    overflow: hidden;
    float:left;
    // background:rgba(255,255,255,0);
}
/* .sou1>a{
// 	float:left;
// 	 width: 12px;
//     height: 12px;
//     display: inline-block;
//     position: relative;
//     // top: 9px;
// }*/
.sou1>span{
	background: url(../imgs/sousuo.png) no-repeat right center;
    background-size: 12px 12px;
    width: 12px;
    height: 12px;
    display: inline-block;
    position: relative;
    top: -4px;
    // float: left;
    margin: 0 5px 0 10px
}
.sou1>a>input{
	border: 0;
    display: inline-block;
    background: 0;
    font-size: 12px;
    line-height: 16px;
    height: 16px;
    width: 80%;
    vertical-align: middle;
    margin-top: -11px;
    color: #666;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.input_1{
	border: 0;
    display: inline-block;
    background: 0;
    font-size: 12px;
    line-height: 16px;
    height: 16px;
    width: 80%;
    vertical-align: middle;
    margin-top: -11px;
    color: #666;
    text-overflow: ellipsis;
    white-space: nowrap;
}
// 轮播图
.lunbo {
  width: 100%;
  height:260px;
  margin-top:50px;
  position:absolute;
}

.lunbo .swiper-slide {
  width:100%;
  height:260px;
}
.lunbo .swiper-slide>a>img{
  width:100%;
  height:100%;
  display:block;
}
// 内容
.centent_1{
	width:100%;
	height:auto;
	clear:both;
}
.biye{
	width:100%;
	height:r(140);
}
.biye>img{
	width:100%;
	height:100%;
}
.centent_1>a{
	width:100%;
	height:r(300);
}
.centent_1>a>img{
	width:100%;
	height:100%;
}
.centent_2{
	width:100%;
	height:auto;
	clear:both;
}
.centent_2>a{
	width:100%;
	height:r(200);
}
.centent_2>a>img{
	width:100%;
	height:100%;
}
.centent_3{
	width:100%;
	height:auto;
}
.centent_3>a{
	width:50%;
	height:r(350);
	float:left;
}
.centent_3>a>img{
	width:100%;
	height:100%
}
// 底部
.content_4{
	width:100%;
	height:auto;
	clear:both;
}
.biyeji{
	width:100%;
	// height:r(150);
}
.biyeji>img{
	width:100%;
	height:100%;
}
.centent_4>a{
	width:100%;
	height:r(400);
}
.centent_4>a>img{
	width:100%;
	height:100%;
}
/*固定吸底*/
.xidi{
	width:100%;
	height:50px;
	background:#404040;
	position:fixed;
	bottom:0;
}
.xidi>ul>li{
	width:20%;
	height:50px;
	float:left;
	// text-align:center;
	// line-height:50px;
}
.xidi>ul>li>a{
	color:#fff;
	font-size:13px;
	// margin-top:r(20);
}
.xidi>ul>li>a>p{
	color:#fff;
	font-size:13px;
	// margin-top:r(20);
	text-align:center;
}
.btn_menu{
	display:inline-block;
	width:43%;
	height:25px;
	background:red;
	margin-left:25%;
}
.jili{
	background: url(../imgs/btn_menu.png)no-repeat;
    background-size: auto 100%;
}
.jili1{
	background: url(../imgs/btn_menu.png)no-repeat -59px 0;
    background-size: auto 100%;
}
// .jili2{
// 	background: url(../imgs/btn_menu.png)no-repeat -118px 0;
//     background-size: auto 100%;
// }
.jili3{
	background: url(../imgs/btn_menu.png)no-repeat -118px 0;
    background-size: auto 100%;
}
.jili4{
	background: url(../imgs/btn_menu.png)no-repeat -176px 0;
    background-size: auto 100%;
}
.jili5{
	background: url(../imgs/btn_menu.png)no-repeat -231px 0;
    background-size: auto 100%;
}
.wucar>a>span{
	display:inline-block;
	width:50%;
	height:20px;
	background:url(../imgs/cart1.png)no-repeat;
	background-size:100%;
	margin:15px auto;
}

/*<!-- 锚点 -->*/
#maodian{
	width:r(80);
	height:r(80);
	background:#ccc;
	border-radius:50%;
	position:fixed;
	bottom:r(120);
	right:0;
}
#maodian>a>img{
	width:100%;
	display:block;
}




// 列表页
// 商品部分导航
.shop_nav{
	width:100%;
	height:50px;
	// position:absolute;
	margin-top:50px;
	background:#F8F8F8;
	// background:red;
	clear:both;
}
.shop_nav>ul>li{
	display:block;
	width:r(185);
	height:50px;
	float:left;
	text-align:center;
}
.shop_nav>ul>li>a{
	color:#888888;
	font-size:16px;
	line-height:50px;
}
.shop_nav>ul>li>a:hover{
	color:#222222;
}
.pj{
	display:inline-block;
	width:r(40);
	height:15px;
	background:url(../imgs/li_no.png)no-repeat;
	background-size:69%;
}
/*<!-- 滑块 -->*/
#huakuai{
	width: 100%;
	height:r(400);
    // padding-top: 50px;
    // padding-bottom: 50px;
}
#huakuai .swiper-slide{
	background-position: center;
    background-size: cover;
    width:r(300);
    height:r(300);
}


/*商品*/ 
.shop_list{
	width:100%;
	height:auto;
	// height:r(3100);
	// position:absolute;
	// top:100px;
	clear:both;
}
.shop_list_l{
	width:50%;
	height:r(500);
	// background:red;
	float:left;
}
.shop_list_l>dt{
	width:90%;
	height:(300);
	margin:0 auto;
}
.shop_list_l>dt>a>img{
	width:100%;
	height:100%;
}
.shop_list_l>dd{
	font-size:10px;
    margin: 2px 0 0 0;
    // line-height: 14px;
    color: #414141;
    background: #FFFFFF;
    text-align: center;
    // padding-bottom: 8px;
}
.join_car{
	width:100%;
	height:30px;
	// background:pink;
}
.join_car>span{
	display:block;
	width:50%;
	height:30px;
	text-align:center;
	line-height:30px;
	float:left;
}
.join_car>button{
	width:40%;
	height:30px;
	float:right;
	border-radius:10%;
	text-decoration: none;
    text-align: center;
    background:#FFFAF5;
    border:none;
    // background-color: #404040;
    // border: 1px solid #404040;
    cursor: pointer;
    font-size:8px;
    color:#fff;
}
.join_car>button>span{
	display:inline-block;
	width:35%;
	height:20px;
	background:url(../imgs/cart.png)no-repeat 0 -21px;
	background-size:100px 100px;
}
// 底部
.footer{
	width:100%;
	height:160px;
	clear:both;
}
.footer>p{
	color:#ccc;
	font-size:12px;
	text-align:center;
}
.footer>i{
	display:inline-block;
	width:r(40);
	height:r(50);
	color:#ccc;
	float:right;
	margin-right:r(20);
	font-size:12px;
	text-align:center;
}
/*<!-- 购物车页面-->*/ 
/*<!-- 购物车导航 -->*/ 
.shop_car{
	width:100%;
	height:50px;
	clear:both;
	margin-top:50px;
	background:#F5F5F5;
}
.shop_car_top{
	text-align:center;
	line-height:50px;
	color:#444444;
	border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
}
.shop_car>span{
	display:inline-block;
	width:r(40);
	height:30px;
	background:url(../imgs/logo.png)no-repeat;
	background-size:100%;
	position:absolute;
	margin-top:13px;
}
/*<!-- 购物单 -->*/ 
.shop_car_l{
	width:100%;
	height:auto;
	clear:both;
	background:#F5F5F5;
}
.shop_car_r{
	width:100%;
	height:r(300);
	background:#fff;
	margin-top:r(5);
}
.anniu{
	display:block;
	width:r(40);
	height:r(40);
	margin-top:r(100);
	float:left;
	margin-left:r(40);
	border-radius:50%;
}
.shop_1{
	display:block;
	width:r(200);
	height:r(200);
	margin-top:r(50);
	float:left;
}
.shop_1>a>img{
	width:100%;
	height:100%;
}
.shop_2{
	width:r(300);
	height:r(200);
	float:left;
	margin-top:r(60);
}
.shop_2>p{
	font-size:10px;
	color:#444444;
	text-align:center;
}
.jiajian{
	width:r(200);
	height:r(50);
	margin-top:r(20);
	border:1px solid #ccc;
	text-align:center;
	margin-left:r(35);
}
.count_reduce{
	display:block;
	width:r(40);
	height:r(50);
	float:left;
	border-right: 1px solid #aaaaaa;
    background: url(../imgs/jian.jpg) no-repeat 50% 45%;
    background-size: 60% auto;
}
.jiajian>input{
	width:r(100);
	height:r(50);
	border:1px solid #ccc;
	text-align: center;
    z-index: 2;
    border: none;
    float: left;
    background: none;
    color:#444;
}
.count_add{
	display:block;
	width:r(40);
	height:r(50);
	/*border:1px solid #ccc;*/ 
	float:right;
	border-left: 1px solid #aaaaaa;
    background: url(../imgs/jia.jpg) no-repeat 50% 45%;
    background-size: 50% auto;
}
.shop_3{
	width:r(170);
	height:r(200);
	/*background:red;*/ 
	float:right;
	margin-top:r(20);
}
.shop_3>span{
	color:#555;
	display:inline-block;
	margin-top:r(50);
}
// .shop_4{
// 	width:r(60);
// 	height:r()
// }
.ttu4-1{
	width: 32px;
    height: 22px;
    position: relative;
    padding: 0;
    cursor: pointer;
    border: none;
    z-index: 1;
    background:#FFFAF5;
    margin-left:r(50);
    margin-top:r(25);
}
.ttu4-2{
	position: absolute;
	top: 8px;
    left: 10px;
	background:url(../imgs/15.png)-323px -68px;
    width: 12px;
    height: 2px;
    display:block;
    transform-origin: -7% 100%;
}
.ttu4-1:hover .ttu4-2{
	background:url(../imgs/15.png)-323px -62px;
    transform: rotate(-30deg);
    transition: transform 250ms;
}
.ttu4-3{
	position: absolute;
    left: 10px;
	background:url(../imgs/15.png)-307px -62px;
    width: 12px;
    height: 11px;
    display:block;
}
.ttu4-1:hover .ttu4-3{
	background:url(../imgs/15.png)-317px -44px;
}



/*<!-- 更多添加商品 -->*/
#slide1{
	width:100%;
	height:20%; 
	// overflow:inherit;
	margin-left:0;
	margin-top:0;
}
#slide1 .swiper-slide{
	width:33.3%;
	height:50px;
    // background:blue;
    text-align:center;
    line-height:50px;
}
#slide2{
   	width:100%;
  	height:r(900); 
  	margin-top:0px;
}
#slide2 .swiper-slide{
 	height:r(600);
  	// background:red;
}
.hua_1{
	width:49%;
	height:r(600);
	position: relative;
    z-index: 1;
    float:left;
    margin-left:1px;
    margin-bottom:10px;
    // border:1px solid #ccc;
    background:#F5F5F5;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}
.hua_1>a{
	display:inline-block;
	position:relative;
	margin-top:r(40);
	width:90%;
	height:r(300);
	margin-left:5%;
}
.hua_1>a>img{
	width:100%;
	height:100%;
}
.hua_1>p{
	color:#404040;
	font-size:12px;
	text-align:center;
}
.dazhe{
	position: absolute;
    top: 0;
    left: 50%;
    z-index: 2;
    width: 64px;
    height: 20px;
    margin-left: -32px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #fff;
    background-color: #e53935;
}
.hua_1:hover{
	z-index:2;
	box-shadow:0px 15px 30px rgba(0,0,0,0.1);
	transform:translate3d(0,-2px,0);
}
.author_des{
	width:100%;
	height:0;
	background:#ff6700;
	position:absolute;
	opacity:0;
	bottom:0px;
	/* 简写模式 */
	transition:all 1s ease;
}
.hua_1:hover .author_des{
	height:76px;
	opacity:1;
}
.author_des .des_details{
	font-size:12px;
	color:#fff;
	text-align:center;	
	width:80%;
	margin:0 auto;
	margin-top:8px;	
}
.author_des .author{
	color:#FFC299;
	font-size:12px;
	width:80%;
	margin:0 auto;
	margin-top:8px;
}


/*<!-- 结算 -->*/ 
.jiesuan{
	width:100%;
	height:50px;
	background:#414141;
	position:fixed;
	bottom:0;
	clear:both;
	z-index:100;
}
.jie{
	width:33%;
	height:50px;
	// background:red;
	float:left;
	margin-left:r(2);
}
.quan{
	text-align:center;
	line-height:50px;
	color:#fff;
	font-size:12px;
}
.quan>input{
	position:absolute;
	top:r(30);
	margin-left:r(8);
	opacity: 0;
}
.jie>label{
	width: 20px;
    height: 20px;
    background: red;
    margin-right:r(30);
    margin-top:r(30);
    display: inline-block;
    background: url(../imgs/xz.jpg) no-repeat  0 1%;
    background-size: 100% auto;
    border-radius: 50%;
}
// .jie>label:hover{
//     background: url(../imgs/xz.jpg) no-repeat -20px 0;
//     // background-position: left bottom;
// }
.zongji>span{
	display:block;
	text-align:center;
	line-height:50px;
	color:#fff;
	font-weight:500;
	font-size:12px;
}
.jie_s{
	text-align:center;
	line-height:50px;
	color:#fff;
	font-weight:500;
	font-size:12px;
}