/* index 的 CSS样式  */
.box1{
		min-height:25px;
		background:#1f8657;
		color:#fff;
		padding-top:3px;		
		}
.w1 .col-lg-1{
		border-left:1px solid #B1B1B1;  
	    text-align:center;     
		}
.w1 .col-lg-1:hover{
        cursor: pointer;
        background:#2aad6f;      
		}
.box1-1{
	height:48px;
	background:#D1D1D1;
	border-bottom:2px solid #ccc;
}
.w1-1{
	text-align:center;
}
.w1-1 .col-sm-4,.col-xs-4{
	text-align:center;
	// border:1px solid red;

} 
.box2{
	 min-height:78px;
	 // background:pink;
     padding-top:30px;
     color:#7B7B7B;
     text-align:center;
}  
.w2 .col-lg-1:hover{
        cursor: pointer;
        color:#393939;
		}

.box4{
	margin-top:20px;
}
.box4 .con4 .row div{
	padding: 2px;
}
.box5{
	margin-top:20px;
}
.box5 dl dt{
	// border:1px solid red;
	margin-bottom:20px;
}
.box5 dd{
	margin-top:5px;

}
.box5-5{
	margin-top:20px;
	height:62px;
}
.box6{
	margin-top:20px;
	height:78px;
}
.box6 .con6{
	
	border-top:1px solid #B1B1B1;

}
.box6 .con6 .w6{
	margin-top:20px;
}
.box6 .con6 .w6 .sp0{
	display:inline-block;
	margin-left:5px;
	width:24px;
	height:25px;
	background:url(../img/icon-identification.png)no-repeat ;

}
.box6 .con6 .w6 .sp0:hover{
	cursor: pointer;
	background-position:-24px 0px;
}
.box6 .con6 .w6 .sp1{
	display:inline-block;
	width:30px;
	height:30px;	
	border-radius:50%;
	margin-left:10px;	
	background:#c9c9c9 url(../img/sprite-icons.svg) no-repeat -127px -240px;

}
.box6 .con6 .w6 .sp1:hover{
	background:#00925F url(../img/sprite-icons.svg) no-repeat -127px -240px;
}
.box6 .con6 .w6 .sp2{
	display:inline-block;
	width:30px;
	height:30px;
	border-radius:50%;	
	margin-left:10px;
	background:#c9c9c9 url(../img/sprite-icons.svg) no-repeat -126px -350px;

}
.box6 .con6 .w6 .sp2:hover{
	background:#1CACEB url(../img/sprite-icons.svg) no-repeat -126px -350px;
}
.box6 .con6 .w6 .sp3{
	display:inline-block;
	width:30px;
	height:30px;
	border-radius:50%;
	margin-left:10px;
	background:#c9c9c9 url(../img/sprite-icons.svg) no-repeat -85px -315px;

}
.box6 .con6 .w6 .sp3:hover{
	background:#1CACEB url(../img/sprite-icons.svg) no-repeat -85px -315px;
}