<!-- 导航 -->
<div id="wrapper">
	<div class="navbar">
		<div class="navbar_left">
			<span class="cur_nav"></span>
			<span class="hover_nav"style="margin-top:8px;"></span>
			<div class="xiala">
				
			</div>
		</div>
		<div class="navbar_center">
			<a href="#/list"><img src="./imgs/nav_logo.png"></a>
		</div>
		<div class="navbar_right">
			<span class="nav_right nav_de"></span>
			<div class="nav_right1">
				<a href="#/shop" class="nav_gou"></a>
				<i class="moveDiv_mark" style="display:block;font-style:normal;">{{cart.length}}</i>
			</div>
		</div>
	</div>
</div>
<!-- 搜索框 -->
<div class="sousuo">
	<div class="sou">
		<div class="sou1">
			<span></span>
			<a href="#/list"><input type="text" ng-model="str1" value placeholder="盒装鲜花"  ng-model="str1"></a>
		</div>	
		<span class="deng">登录</span>
	</div>
</div>

<!-- 轮播图 -->
<div direc></div>
<div class="swiper-container lunbo" >
    <div class="swiper-wrapper">
        <div class="swiper-slide">
        	<a href="#">
        		<img src="./imgs/lu1.jpg">
        	</a>
        </div>
        <div class="swiper-slide">
        	<a href="#">
        		<img src="./imgs/lu2.jpg">
        	</a>
        </div>
        <div class="swiper-slide">
        	<a href="#">
        		<img src="./imgs/lu3.jpg">
        	</a>
        </div>
        <div class="swiper-slide">
        	<a href="#">
        		<img src="./imgs/lu4.jpg">
        	</a>
        </div>
        <div class="swiper-slide">
        	<a href="#">
        		<img src="./imgs/lu5.jpg">
        	</a>
        </div>
        <div class="swiper-slide">
        	<a href="#">
        		<img src="./imgs/lu6.jpg">
        	</a>
        </div>	
    </div>
    <div class="swiper-pagination"></div>
   <!--  <div class="swiper-button-prev swiper-button-white"></div>
    <div class="swiper-button-next swiper-button-white"></div> -->
</div>

<!-- 毕业季 -->
<div class="centent_1">
	<div class="biye"><img src="./imgs/b1.jpg"></div>
	<a href="#"><img src="./imgs/b2.jpg"></a>
	<a href="#"><img src="./imgs/b3.jpg"></a>
	<a href="#"><img src="./imgs/b4.jpg"></a>
	<a href="#"><img src="./imgs/b5.jpg"></a>
	<a href="#"><img src="./imgs/b6.jpg"></a>
	<a href="#"><img src="./imgs/b7.jpg"></a>
</div>
<!-- 热卖品 -->
<div class="centent_2">
	<div class="biye"><img src="./imgs/re1.jpg"></div>
	<a href="#"><img src="./imgs/re2.jpg"></a>
	<a href="#"><img src="./imgs/re3.jpg"></a>
	<a href="#"><img src="./imgs/re4.jpg"></a>
	<a href="#"><img src="./imgs/re5.jpg"></a>
	<a href="#"><img src="./imgs/re6.jpg"></a>
</div>
<!-- 更多 -->
<div class="centent_3">
	<div class="biye"><img src="./imgs/ge1.jpg"></div>
	<a href="#"><img src="./imgs/ge2.jpg"></a>
	<a href="#"><img src="./imgs/ge3.jpg"></a>
	<a href="#"><img src="./imgs/ge4.jpg"></a>
	<a href="#"><img src="./imgs/ge5.jpg"></a>
	<a href="#"><img src="./imgs/ge6.jpg"></a>
	<a href="#"><img src="./imgs/ge7.jpg"></a>
</div>
<!-- 店铺 -->
<div class="centent_4">
	<div class="biyeji"><img src="./imgs/z1.jpg"></div>
	<a href="#"><img src="./imgs/z2.jpg"></a>
</div>
<!-- 底部 -->
<div class="footer">
	<p>Copyright 2008-2017 vip.com，All Rights Reserved ICP证：粤 B2-20080329</p>
	<p>我希望像向日葵一样，就算悲伤也要迎着太阳</p>
	<i>7.</i>
</div>
<!-- 固定 -->
<div class="xidi">
	<ul>
		<li>
			<a href="#/">
				<span  class="btn_menu jili"></span>
				<p>首页</p>
			</a>
		</li>
		<li>
			<a href="#/list">
				<span  class="btn_menu jili1"></span>
				<p>分类</p>
			</a>
		</li>
		<li>
			<a href="#/list">
				<span  class="btn_menu jili3"></span>
				<p>活动</p>
			</a>
		</li>
		<li>
			<a href="#/shop">
				<span  class="btn_menu jili4"></span>
				<p>购物袋</p>
			</a>
		</li>
		<li>
			<a href="#">
				<span  class="btn_menu jili5"></span>
				<p>联系我们</p>
			</a>
		</li>
	</ul>
</div>
<!-- 锚点 -->
<div id="maodian">
	<a href="javascript:void(0)" onclick="window.scrollTo(0,0);"><img src="./imgs/logo.png"></a>
</div>