<!-- 导航 -->
<div id="wrapper">
	<div class="navbar" style="position:none;">
		<div class="navbar_left">
			<span class="cur_nav"></span>
			<span class="hover_nav"style="margin-top:8px;"></span>
		</div>
		<div class="navbar_center">
			<a href="#/"><img src="./imgs/nav_logo.png"></a>
		</div>
		<div class="navbar_right">
			<span class="nav_right nav_de"></span>
			<div class="nav_right1">
				<a href="#/shop" class="nav_gou" id="end"></a>
				<i class="moveDiv_mark" style="display:block;font-style:normal;">{{cart.length}}</i>
			</div>
		</div>
	</div>
</div>
<!-- 购物车导航 -->
<div class="shop_car">
	<span></span>
	<div class="shop_car_top">
		购物车
	</div>
</div>
<!-- 购物单 -->
<div class="shop_car_l">
	<dl class="shop_car_r" ng-repeat="item in cart">
		<dt class="anniu">
			<input type="checkbox" name="check1" checked="checked">
		</dt>
		<dd class="shop_1"><a href="#"><img ng-src="{{item.img}}"></a></dd>
		<dd class="shop_2">
			<p>爱在满怀-手捧朱砂<br>鲜花玫瑰 80cm手捧</p>
			<div class="jiajian">
				<span ng-click="set(item.goodsId,false)"class="count_reduce"></span>
				<input type="tel" class="count_input"  ng-model="item.num">
				<span ng-click="set(item.goodsId,true)" class="count_add"></span>
			</div>
		</dd>
		<dd class="shop_3">
			<span>{{item.price|currency:"￥"}}</span>
			<button ng-click="item.num=0" type="button" class="ttu4-1">
				<span class="ttu4-2"></span>
				<span class="ttu4-3"></span>
			</button>
		</dd>
		<dd class="shop_4">{{item.num*item.price|currency:"￥"}}</dd>
	</dl>
</div>
<!-- 更多添加商品 -->
<div direc></div>
 <div class="swiper-container" id="slide1">
<!-- 公共组件区 -->
    <div class="swiper-wrapper">
    <!-- 一个slide 就是一屏-->
        <div class="swiper-slide" style="width:33%;">
        	<h1 style="color:#404040;overflow:hidden;">更多花束</h1>
        </div>
        <div class="swiper-slide">
        	<h1 style="color:#404040">玫瑰手捧</h1>
        </div>
        <div class="swiper-slide">
        	<h1 style="color:#404040">花篮圆桶</h1>
        </div>
        <div class="swiper-slide">
        	<h1 style="color:#404040">欧式手捧</h1>
        </div>
        <div class="swiper-slide">
        	<h1 style="color:#404040">韩式手捧</h1>
        </div>
          <div class="swiper-slide">
        	<h1 style="color:#404040">扇面花束</h1>
        </div>
    </div>
   <!-- 公共组件区 -->
    <div class="swiper-pagination"></div>
</div>
<div class="swiper-container" id="slide2">
<!-- 公共组件区 -->
    <div class="swiper-wrapper">
    <!-- 一个slide 就是一屏-->
        <div class="swiper-slide">
          	<div class="shop_list">
				<dl class="shop_list_l" ng-repeat="item in data">
					<dt><a href="#"><img ng-src="{{item.img}}"></a></dt>
					<dd>
						<span>{{item.describe}}</span>
						<div class="join_car">
							<span>{{item.price|currency:"￥"}}</span>
							<button ng-click="set(item.goodsId,true)"><span ng-click="flying()"></span></button>
						</div>
					</dd>
				</dl>
			</div>
        </div>
        <div class="swiper-slide">
          	<div class="hua_1">
          		<div class="dazhe">享9.1折 </div>
          		<a href="#"><img src="./imgs/h1.jpg"></a>
          		<p>玫 瑰:纯洁的爱、美丽的爱情、美好常在</p>
				<p>6月18日-20日，直降200元</p>
				<p>
					<span>￥188</span>
					<del>￥288</del>
				</p>
				<div class="author_des">
					<div class="des_details">送给女朋友，她很满意，么么</div>
					<div class="author">来自于 光光 的评价</div>
				</div>
          	</div>
          	<div class="hua_1">
          		<div class="dazhe">享9.1折 </div>
          		<a href="#"><img src="./imgs/h2.jpg"></a>
          		<p>玫 瑰:纯洁的爱、美丽的爱情、美好常在</p>
				<p>6月18日-20日，直降200元</p>
				<p>
					<span>￥188</span>
					<del>￥288</del>
				</p>
				<div class="author_des">
					<div class="des_details">送给女朋友，她很满意，么么</div>
					<div class="author">来自于 光光 的评价</div>
				</div>
          	</div>
          	<div class="hua_1">
          		<div class="dazhe">享9.1折 </div>
          		<a href="#"><img src="./imgs/h12.jpg"></a>
          		<p>玫 瑰:纯洁的爱、美丽的爱情、美好常在</p>
				<p>6月18日-20日，直降200元</p>
				<p>
					<span>￥188</span>
					<del>￥288</del>
				</p>
				<div class="author_des">
					<div class="des_details">送给女朋友，她很满意，么么</div>
					<div class="author">来自于 光光 的评价</div>
				</div>
          	</div><div class="hua_1">
          		<div class="dazhe">享9.1折 </div>
          		<a href="#"><img src="./imgs/h15.jpg"></a>
          		<p>玫 瑰:纯洁的爱、美丽的爱情、美好常在</p>
				<p>6月18日-20日，直降200元</p>
				<p>
					<span>￥188</span>
					<del>￥288</del>
				</p>
				<div class="author_des">
					<div class="des_details">送给女朋友，她很满意，么么</div>
					<div class="author">来自于 光光 的评价</div>
				</div>
          	</div>
        </div>
        <div class="swiper-slide">
          <div class="hua_1">
          		<div class="dazhe">享8.1折 </div>
          		<a href="#"><img src="./imgs/h3.jpg"></a>
          		<p>玫 瑰:纯洁的爱、美丽的爱情、美好常在</p>
				<p>6月18日-20日，直降200元</p>
				<p>
					<span>￥188</span>
					<del>￥288</del>
				</p>
				<div class="author_des">
					<div class="des_details">送给女朋友，她很满意，么么</div>
					<div class="author">来自于 光光 的评价</div>
				</div>
          	</div>
          	<div class="hua_1">
          		<div class="dazhe">享7.1折 </div>
          		<a href="#"><img src="./imgs/h4.jpg"></a>
          		<p>玫 瑰:纯洁的爱、美丽的爱情、美好常在</p>
				<p>6月18日-20日，直降200元</p>
				<p>
					<span>￥188</span>
					<del>￥288</del>
				</p>
				<div class="author_des">
					<div class="des_details">送给女朋友，她很满意，么么</div>
					<div class="author">来自于 光光 的评价</div>
				</div>
          	</div>
        </div>
        <div class="swiper-slide">
          <div class="hua_1">
          		<div class="dazhe">享9.1折 </div>
          		<a href="#"><img src="./imgs/h5.jpg"></a>
          		<p>玫 瑰:纯洁的爱、美丽的爱情、美好常在</p>
				<p>6月18日-20日，直降200元</p>
				<p>
					<span>￥188</span>
					<del>￥288</del>
				</p>
				<div class="author_des">
					<div class="des_details">送给女朋友，她很满意，么么</div>
					<div class="author">来自于 光光 的评价</div>
				</div>
          	</div>
          	<div class="hua_1">
          		<div class="dazhe">享8.1折 </div>
          		<a href="#"><img src="./imgs/h6.jpg"></a>
          		<p>玫 瑰:纯洁的爱、美丽的爱情、美好常在</p>
				<p>6月18日-20日，直降200元</p>
				<p>
					<span>￥188</span>
					<del>￥288</del>
				</p>
				<div class="author_des">
					<div class="des_details">送给女朋友，她很满意，么么</div>
					<div class="author">来自于 光光 的评价</div>
				</div>
          	</div>
        </div>
        <div class="swiper-slide">
          <div class="hua_1">
          		<div class="dazhe">享9.1折 </div>
          		<a href="#"><img src="./imgs/h7.jpg"></a>
          		<p>玫 瑰:纯洁的爱、美丽的爱情、美好常在</p>
				<p>6月18日-20日，直降200元</p>
				<p>
					<span>￥188</span>
					<del>￥288</del>
				</p>
				<div class="author_des">
					<div class="des_details">送给女朋友，她很满意，么么</div>
					<div class="author">来自于 光光 的评价</div>
				</div>
          	</div>
          	<div class="hua_1">
          		<div class="dazhe">享9.1折 </div>
          		<a href="#"><img src="./imgs/h8.jpg"></a>
          		<p>玫 瑰:纯洁的爱、美丽的爱情、美好常在</p>
				<p>6月18日-20日，直降200元</p>
				<p>
					<span>￥188</span>
					<del>￥288</del>
				</p>
				<div class="author_des">
					<div class="des_details">送给女朋友，她很满意，么么</div>
					<div class="author">来自于 光光 的评价</div>
				</div>
          	</div>
        </div>
        <div class="swiper-slide">
          <div class="hua_1">
          		<div class="dazhe">享9.1折 </div>
          		<a href="#"><img src="./imgs/h9.jpg"></a>
          		<p>玫 瑰:纯洁的爱、美丽的爱情、美好常在</p>
				<p>6月18日-20日，直降200元</p>
				<p>
					<span>￥188</span>
					<del>￥288</del>
				</p>
				<div class="author_des">
					<div class="des_details">送给女朋友，她很满意，么么</div>
					<div class="author">来自于 光光 的评价</div>
				</div>
          	</div>
          	<div class="hua_1">
          		<div class="dazhe">享9.1折 </div>
          		<a href="#"><img src="./imgs/h10.jpg"></a>
          		<p>玫 瑰:纯洁的爱、美丽的爱情、美好常在</p>
				<p>6月18日-20日，直降200元</p>
				<p>
					<span>￥188</span>
					<del>￥288</del>
				</p>
				<div class="author_des">
					<div class="des_details">送给女朋友，她很满意，么么</div>
					<div class="author">来自于 光光 的评价</div>
				</div>
          	</div>
        </div>
    </div>
   <!-- 公共组件区 -->
    <div class="swiper-pagination"></div>
</div>

<!-- 结算 -->
<div class="jiesuan">
	<div class="jie quan">
		<input type="checkbox" checked="checked">
		<label for="type1_0"></label>
		全选
	</div>
	<div class="jie zongji">
		<span>总价:{{sumPrice()|currency:"￥"}}</span>
	</div>
	<div class="jie jie_s" style="background:red;">去结算(<span>{{cart.length}}</span>)</div>
</div>