*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    /* color: #666666;
     font-size:12px;*/
}
li{
    list-style: none;
}

.shu{
    margin-top: 5px;
    color: #DDDDDD;
    float: left;
}


/* 导航栏 开始 */
#header{
    width:100%;
    height:30px;
    background:#F1F1F1;
}
#nav{
    width:1210px;
    height:30px;
    /*background:yellow;*/
    margin:0 auto;
    position: relative;
    z-index: 5;
}
.nav-ul{
    width:97px;
    height: 30px;
    /*background: blue;*/
    cursor: pointer;
}
#send{
    width:97px;
    height: 30px;
    /*background: pink;*/
    position: relative;
}
.div-send{
    width: 97px;
    height: 28px;
    text-align: center;
    line-height: 30px;
    position: absolute;
    z-index: 100;
    font-size:12px;
    color: #666666;
    border: 1px solid #F1F1F1;
}
.ci-right{
    display: block;
    width: 15px;
    height:15px;
    float: right;
    background: aquamarine;
    margin-top: 8px;
    margin-right: 5px;
    background: url("../imgs/shopcar/下.png");
}
/*.div-send:hover{
    background: #ffffff;
}*/
.div-send:hover>.ci-right{

    background: url("../imgs/shopcar/上.png");
}

.dorpdown-layer{
    position: absolute;
    width:301px;
    height:auto;
    background: #ffffff;
    border: 1px solid #F1F1F1;
    top: 30px;
    display: none;

    z-index: 4;
}
#send:hover>.div-send{
    background: #ffffff;

    border-bottom-color:#fff;
}
#send:hover>.dorpdown-layer{
    display: block;
    margin-top: -1px;

}
.item{
    width: 50px;
    float: left;
    margin-top:10px;
    margin-left:10px;
    font-size:12px;
    text-align: center;
    line-height: 24px;
}
.item a{
    display: block;
    width:auto;
    height:24px;
    padding: 0px 6px;
    color: #666666;
    font-size:12px;
}
.item a:hover{
    background: #f4f4f4;
    color: #C81623;
}

.right-ul{
    width:900px;
    height:30px;
    /*background:#c9302c;*/
    float: right;
    margin-top: -30px;
}
.fore1{
    width:154px;
    height:30px;
    float: left;
    /*background:palegreen;*/
    position: relative;
}
.cw-icon{
    padding-right:72px;
    height:30px;
    /*background: #ffffff;*/
    /*position: relative;*/
}
.icon-plus-nickname{
    display: block;
    height: 16px;
    width: 38px;
    position: absolute;
    right: 27px;
    top: 7px;
    background: url("../imgs/shopcar/user-plus-status.png") 0 -68px no-repeat;
}
.ci-righ{
    display: block;
    height:15px;
    width: 15px;
    position: absolute;
    /*background: aquamarine;*/
    right: 8px;
    top: 8px;
    background: url("../imgs/shopcar/下.png");
}
.nickname{
    display: block;
    overflow: hidden;
    text-align: right;
    white-space: nowrap;
    width: 70px;
    font-size: 12px;
    line-height: 20px;
    color: #666666;

}
.userinfo{
    width:283px;
    height: 180px;
    /*border: 1px solid #dddddd;*/
    background: url("../imgs/shopcar/1.jpg");
    display: none;
}
.cw-icon:hover>.ci-righ{
    background: url("../imgs/shopcar/上.png");
}
.fore1:hover{
    background: #ffffff;
}
.cw-icon:hover>.nickname{
    color: #C81623;
}
.fore1:hover>.userinfo{
    display: block;
}
.fore2{
    float: left;
    padding: 0px 2px;
    height: 30px;
    position: relative;
    z-index: 99;
}
.my-jd{
    height: 28px;
    position: relative;
    z-index: 99;
    border:1px solid #F1F1F1;
}
.dd{
    float: left;
    padding: 0px 8px;
    margin-top: 7px;
    color: #666666;
    font-size:12px;

}
.dd:hover{
    color:#C81623 ;
}
.num{
    color:#C81623 ;
}
.dorpdown-layer-wdjd{
    position: absolute;
    width:301px;
    height:auto;
    /*background: lime;*/
    border: 1px solid #F1F1F1;
    top: 30px;
    display: none;
    z-index: 1;
    background: #ffffff;
}
.dorpdown-layer-top{
    width:301px;
    height: 100px;
    /*background: greenyellow;*/
    border-bottom: 1px solid #F1F1F1;
}
.top-left{
    height:100px;
    width:150px;
    float: left;
    /*background: #2aad6f;*/
    color: #666666;
    font-size:12px;
}
.top-right{
    height: 100px;
    width:150px;
    float: right;
    /*background: burlywood;*/
    color: #666666;
    font-size:12px;
}
.items{
    width: 60px;
    margin-top:10px;
    margin-left:10px;
    font-size:12px;
    text-align: left;
    line-height: 24px;


}
.items a{
    color: #666666;
}
.items a:hover{
    color: #C81623;
}
.my-jd:hover>.ci-right{
    background: url("../imgs/shopcar/上.png");
}
.fore2:hover>.dorpdown-layer-wdjd{
    display: block;
    margin-top:-1px;
}
.fore2:hover>.my-jd{
    border-bottom-color:#fff;
    background: #ffffff;

}
.fore4{
    float: left;
    padding: 0px 2px;
    height: 30px;
    position: relative;
    z-index: 99;
}
.phone-jd{
    height: 28px;
    position: relative;
    z-index: 99;
    border:1px solid #F1F1F1;
}
.ci-left{
    display: block;
    overflow: hidden;
    position: absolute;
    height: 20px;
    left: 4px;
    /*right:10px;*/
    top:5px;
    /*margin-right: 8px;*/
    width:15px;
    background:url("../imgs/shopcar/jd2015img.png");
}
.dorpdown-phonejd{
    position: absolute;
    width:250px;
    height:200px;
    /*background: lime;*/
    border: 1px solid #F1F1F1;
    top: 30px;
    display: none;
    z-index: 1;
    background:url("../imgs/shopcar/3.jpg");
}
.phone-jd:hover>.ci-right{
    background: url("../imgs/shopcar/上.png");
}
.fore4:hover>.dorpdown-phonejd{
    display: block;
    margin-top:-1px;

}
.fore4:hover>.phone-jd{
    border-bottom-color:#fff;
    background: #ffffff;

}
.phone-jd:hover>.ci-left{
    background-position:0px -25px;
}

.fore5{
    float: left;
    padding: 0px 2px;
    height: 30px;
    position: relative;
    z-index: 99;

}
.foucs-jd{
    height: 28px;
    position: relative;
    z-index: 99;
    border:1px solid #F1F1F1;
}
.dorpdown-foucs{
    width:82px;
    height: 97px;
    border:1px solid #F1F1F1;
    background: url("../imgs/shopcar/6.jpg");
    display: none;

}
.foucs-jd:hover>.ci-right{
    background: url("../imgs/shopcar/上.png");
}
.fore5:hover>.dorpdown-foucs{
    display: block;
    margin-top:-1px;
    margin-left: 2px;
}
.fore5:hover>.foucs-jd{
    border-bottom-color:#fff;
    background: #ffffff;

}
.fore6{
    float: left;
    padding: 0px 2px;
    height: 30px;
    position: relative;
    z-index: 99;
}
.server-jd{
    height: 28px;
    position: relative;
    z-index: 99;
    border:1px solid #F1F1F1;
}
.dorpdown-server{
    position: absolute;
    width:176px;
    height:200px;
    border:1px solid #dddddd;
    display: none;
    background:#ffffff;

}
.server-list:hover{
    color: #C81623;
}
.item-client{
    /*margin-top: 10px;*/
    font-weight: bold;
    padding-left: 10px;
    font-size:12px;
    position: relative;
    top:10px;
}
.server-list{
    /*width: 50px;*/
    float: left;
    margin-top:10px;
    margin-left:10px;
    font-size:12px;
    text-align: center;
    line-height: 24px;
    padding: 0px 10px;

}
.item-business{
    width:95%;
    border-top: 1px dotted #ccc;
    margin-top: 5px;
    padding-top: 5px;
    font-weight: bold;
    padding-left: 10px;
    font-size:12px;
    position: absolute;
    bottom:35px;
}
.server-jd:hover>.ci-right{
    background: url("../imgs/shopcar/上.png");
}
.fore6:hover>.dorpdown-server{
    display: block;
    margin-top:-1px;

}
.fore6:hover>.server-jd{
    border-bottom-color:#fff;
    background: #ffffff;

}
.fore7{
    float: left;
    padding: 0px 2px;
    height: 30px;
    position: relative;
    z-index: 99;
}
.map-jd{

    height: 28px;
    position: relative;
    z-index: 99;
    border:1px solid #F1F1F1;

}
.dorpdown-map{
    width:990px;
    height:280px;
    border: 1px solid #dddddd;
    position: absolute;
    right:0px;
    display: none;
    background: #ffffff;
}
.dl{
    width:300px;
    height:240px;
    /*background: pink;*/
    margin-top:20px;
    margin-left:15px;
    border-right: 1px solid #dddddd;
    float: left;
}
.dt{
    font-size: 14px;
    color: #666666;
    font-weight: bold;
}
.map-dd{
    font-size:12px;
    width:100px;
    float: left;
    margin-top:10px;
    font-weight: normal;

}
.map-dd a{
    color: #666666;
}
.dl1{
    width:205px;
    height:240px;
    margin-top: 20px;
    margin-left: 15px;
    border-right: 1px solid #dddddd;
    float: left;
}
.dl3{
    border-right: none;
}
.map-dd a:hover{
    color:#C81623;
}
.map-jd:hover>.ci-right{
    background: url("../imgs/shopcar/上.png");
}
.fore7:hover>.dorpdown-map{
    display: block;
    margin-top:-1px;

}
.fore7:hover>.map-jd{
    background: #ffffff;
    border-bottom-color: #ffffff;
}

/*  导航结束 */
#mheader{
    width:100%;
    height:104px;
    /*background:pink;*/
}
#mnav{
    width:1210px;
    height:104px;
    /*background:pink;*/
    margin:0 auto;
}
#logo{
    width:270px;
    height:104px;
    /*background:blue;*/
    float:left;
}
.logo{
    background:rgba(0,0,0,0) url(../imgs/details/logo-201305.png) center center no-repeat;
    display:block;
    height:104px;
    width: 270px;
}
#mnav input{
    width:430px;
    height:30px;
    float:left;
    border:2px solid #B61D1D;
    margin-top:26px;
    margin-left:100px;
}
#btu1{
    float: left;
    width:60px;
    height:34px;
    margin-top:26px;
    background:#B61D1D;
    border:none;
    color:#fff;
    font-size:16px;
}
#shopcar{
    float: left;
    width:142px;
    height:34px;
    background:#F9F9F9;
    margin: 28px 0px 0px 100px;
    position: relative;
}
#car{
    border:1px solid #E3E4E5;
    line-height:30px;
    position:relative;
    z-index:1000;
}
#car span{
    width: 18px;
    height: 16px;
    float: left;
    margin-left: 15px;
    margin-top:10px;
    background:url(../imgs/details/jd2015img.png)  0px 67px;
}
.car-a{
    font-size: 12px;
    color: #666666;
    line-height: 34px;
    margin-left: 5px;

}
#shop{
    width: 300px;
    height: 100px;
    /*background: pink;*/
    position: absolute;
    right: -1px;
    top:33px;
    border: 1px solid #dddddd;
    background: #ffffff;
    display: none;
}

#shopcar:hover>#shop{
    display: block;
}
#shopcar:hover>#car{
    border-bottom-color: #ffffff;
}
.car-a:hover{
    color:#B61D1D;
}
.nogoods{
    color: #999;
    height: 49px;
    line-height: 49px;
    overflow: hidden;
    margin-top:20px;
    padding-left: 30px;
    font-size: 12px;
}
.nogoods b{
    float: left;
    height: 49px;
    width: 56px;
    background: url("../imgs/details/settleup-nogoods.png");
}
.hotwords{
    width: 518px;
    height: 20px;
    line-height: 20px;
    float: left;
    margin-left: 100px;
    /*background: pink;*/
}
.hotwords-a{
    float: left;
    margin-right: 10px;
    color: #666666;
    font-size: 12px;
}
.hotwords-a:hover{
    color:#B61D1D ;
}
#lheader{
    width:100%;
    height:44px;
    /*background:pink;*/
}
#lnav{
    width:1210px;
    height:44px;
    /*background:yellow;*/
    margin:0 auto;
}
#lnav ul li{
    list-style:none;
    float:left;
    height:44px;
    line-height:44px;

}
#lnav ul li a{
    font-size:16px;
    height:44px;
    text-align:center;
    padding:0 20px;
    color:#000;
}
#lnav ul li a:hover{
    color:#C81623;
}
#li1{
    display:block;
    width:212px;
    height:48px;
    background:#B1191A;
}
/*  head 结束*/
.crumb-wrap{
    width: 100%;
    height: 44px;
    background: #f2f2f2;
}
.crumb-wrap-main{
    width: 1210px;
    height:44px;
    margin: 0 auto;
    /*background: pink;*/
}
.crumb-list{
    width: 391px;
    height: 19px;
    padding: 13px 0 9px 0;
}
.crumb{
    float: left;
}
.crumb-a{
    color: #666666;
    font-size: 12px;
}
.seb{
    padding: 0 10px;
}
.crumb-br{
    position: relative;
    top:-2px;
}
.head{
    height: 20px;
    border: 1px solid #cccccc;
    background: #ffffff;
    position: relative;
    float: left;
}
.head-a{
    padding: 0px 5px;
    color: #666666;
    font-size: 12px;
}
.head-span{
    width: 13px;
    height: 7px;
    display: inline-block;
    background: url("../imgs/details/arr-close.png");
}
.head-main{
    width: 660px;
    height: 100px;
    background: #ffffff;
    padding: 10px 0;
    position: absolute;
    top:20px;
    left: 0px;
    border: 1px solid #cccccc;
    display: none;
}
.crumb-br:hover>.head-main{
    display: block;
}
.contact {
    float: right;
    padding: 13px 0 0;
    position: relative;
    /*background: yellow;*/
    margin-top: -41px;
}
.contact-first{
    float: right;
}
.contact-name{
    margin-right: 10px;
    float: left;
}
.contact-a{
    color: #666666;
    font-size: 12px;
}
.u-jd{
    background: #e4393c;
    color: #fff;
    display: inline-block;
    height: 14px;
    line-height: 14px;
    margin-left: 6px;
    padding: 1px;
    font-size: 12px;
}
.u-jd span{
    background: #fff;
    color: #e4393c;
    display: inline-block;
    font-weight: 700;
    margin-right: 2px;
    padding: 0 1px;
}
.sprite-im{
    height: 20px;
    width: 16px;
    margin-right: 5px;
    display: inline-block;
    background: url("../imgs/details/sprite-gys-im.gif");
}
.gys-im{
    font-size: 12px;
    color: #666666;
}
.J-jimi-btn{
    float: left;
    margin-right: 10px;
    white-space: nowrap;
}
.J-jimi-btn-a{
    color: #666666;
    font-size: 12px;
}
.sprite-jimi{
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
    height: 18px;
    margin-top: -3px;
    width: 17px;
    background: url("../imgs/details/__sprite.png") 0 0;
}
.sprite-follow{
    position: relative;
    top: -1px;
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("../imgs/details/__sprite.png") -16px -18px;
}
.detail-main{
    width: 1210px;
    margin: 0 auto;
    position: relative;
}
.product-intro{
    position: relative;
    margin-bottom: 10px;
    margin-top: 10px;
}
.preview-wrap{
    width: 452px;
    float: left;
    padding-bottom: 15px;
}
.preview{
    padding: 0;
    position: relative;
    border: 1px solid#eeeeee;
    margin-bottom: 20px;
}
.preview i{
    bottom: 0;
    display: block;
    height: 30px;
    position: absolute;
    right: 0;
    width: 30px;
    background: url("../imgs/details/sprite-magnify.png");
}
.spec-list{
    margin-bottom: 18px;
    position: relative;
}
.arrow-prev{
    display: block;
    float: left;
    height: 32px;
    margin-top: -16px;
    position: absolute;
    top: 50%;
    width: 22px;
}
.sprite-arrow-prev{
    display: inline-block;
    height: 32px;
    width: 22px;
    background: url("../imgs/details/disabled-prev.png");
}
.arrow-next{
    display: block;
    float: left;
    height: 32px;
    margin-top: -16px;
    position: absolute;
    top: 50%;
    width: 22px;
}
.sprite-arrow-next{
    display: block;
    height: 32px;
    width: 22px;
    margin-left: 350px;
    background: url("../imgs/details/2.png") -78px 0;

}
.spec-items{
    width: 280px;
    height: 58px;
    position: relative;
}
.spec-items{
    width:auto;
    height: 58px;
    position: relative;
    left: 0;
    top:0;
    /*background: palegreen;*/
}
.spec-items-ul{

}
.spec-items-ul li{
    float: left;
    margin: 0 9px;
}
.preview-info{
    height: 20px;
}
.left-btns{
    float: left;
}
.J-follow{
    margin-top: 10px;
    margin-right: 2px;
    color: #666666;
    font-size: 12px;
}
.sprite-follow-sku{
    display: block;
    width: 14px;
    height: 14px;
    margin-right: 5px;
    margin-top: 4px;
    background: url("../imgs/details/2.png") -44px -40px;
    float: left;
}
.sprite-follow-share{
    display: block;
    width: 15px;
    height: 14px;
    margin-right: 5px;
    margin-top: 4px;
    background: url("../imgs/details/2.png") -45px -24px;
    float: left;
}
.sprite-follow-duibi{
    display: block;
    width: 15px;
    height: 14px;
    margin-right: 5px;
    margin-top: 4px;
    background: url("../imgs/details/2.png") -30px -24px;
    float: left;
}
.right-btns{
    float: right;
}
.report-btn{
    color: #666666;
    font-size: 12px;
}
.itemInfo-wrap{
    width: 738px;
    float: right;
}
.sku-name{
    color: #666666;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    padding-top: 10px;
}
.news{
    color: #e4393c;
    margin-bottom: 5px;
    font-size: 12px;
}
.news-title{
    width: 738px;
    height: 10px;
    margin-bottom: 5px;
    margin-top: 10px;

}
.news-content{
    padding-bottom: 5px;
    position: relative;
}
.news-price-main{
    background: #F3F3F3;
    padding: 10px 0 0;
}
.news-price{
    margin-bottom: 5px;
    position: relative
}
.jd-price{
    color: #999;
    float: left;
    font-size: 12px;
    padding-left: 10px;
    line-height: 22px;
}
.news-jd-price{
    margin-left: 70px;
}
.jiaqian{
    color: #e4393c;
    margin-right: 5px;
}
.span1{
    font-size: 16px;
    font-weight: bold;
}
.nes-price-a{
    font-size: 12px;
}
.nes-price-a:hover{
    color: #e4393c;
}
.news-pingjia{
    color: #999999;
    font-size: 12px;
    position: absolute;
    right: 10px;
    top:-9px;

}
.news-pj-content{
    border-left: 1px solid #e6e6e6;
    line-height: 15px;
    padding: 0 10px;
    text-align: center;
    float: left;
}
.count{
    color: #005ea7;
    font-size: 14px;
}
.summary-top{
    height: 60px;
    margin-bottom: 5px;
    position: relative;
}
.cuxiao{
    padding-bottom: 5px;
    background: url("../imgs/details/price-bg.png") 0 -12px;
}
.cuxiao-main{
    height:60px;
    position: relative;
    margin-left: 70px;
}
.J-prom{
    height: 30xp;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.manz{
    background: rgba(0, 0, 0, 0);
    border: 1px solid #df3033;
    color: #df3033;
    display: inline-block;
    line-height: 16px;
    font-size: 12px;
    margin-right: 5px;
    padding: 2px 3px;
}
.manz-content{
    color: #666666;
    font-size: 12px;
}
.J-prom a:hover{
    color: #df3033;
}
.cuxiao-bottom{
    height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.jd-choose{
    padding-bottom: 5px;
    position: relative;
}
.jd-choose-support{
    line-height: 32px;
    margin-bottom: 3px;
    height: 32px;
    width: 732px;
    /*background: yellow;*/
}

.support-a{
    float: left;
    font-size: 12px;
    margin-top: 5px;
    margin-right: 10px;
    color: #666666;
}
.support-i{
    float: left;
    display: block;
    height: 16px;
    width: 16px;
    background: url("../imgs/details/5.png") -32px 0;
}
.support-a span{
    float: left;
    border: 1px solid #ced2e6;
    border-radius: 8px;
    color: #5e69ad;
    display: inline-block;
    line-height: 16px;
    margin-left: -18px;
    padding: 0 5px 0 18px;
    position: relative;
    z-index: -1;
}
.support-tcbg{
    float: left;
    display: block;
    height: 16px;
    width: 16px;
    background: url("../imgs/details/5.png") -16px -32px;
}
.support-giftbuy{
    float: left;
    display: block;
    height: 16px;
    width: 16px;
    background: url("../imgs/details/5.png") -16px 0px;
}
.peisong{
    /*border-bottom: 1px dotted #dfdfdf;*/
    margin-bottom: 15px;
    padding-bottom: 5px;
}
.peisong-area{
    margin-bottom: 5px;
}
.text{
    margin-left: 5px;
    font-size: 12px;
    color: #666666;
}
.down{
    display: inline-block;
    height: 7px;
    margin: 0 10px 0 5px;
    transition: all 0.2s ease 0s;
    vertical-align: middle;
    width: 13px;
    background: url("../imgs/details/arr-close.png");
}
.store{
    color: #999;
    float: left;
    /*height: 24px;*/
    font-size: 12px;
    margin-top: 5px;
    margin-right: 30px;
    font-weight: bold;
}
.b{
    border: none;
}
.support{
    float: left;
    height: 24px;
    padding-left: 5px;
}
.zhichi{
    margin-right: 5px;
    float: left;
    font-size: 12px;
    color: #666666;
}
.support-fun{
    padding: 0 26px 0 4px;
    position: relative;
    float: left;
    display: inline-block;
    height: 20px;
}
.free{
    border-right: 1px solid #eaeaea;
    color: #646fb0;
    float: left;
    margin-bottom: 5px;
    overflow: hidden;
    padding: 0 10px;
    font-size: 12px;
    margin-top: 4px;
}
.f{
    border-right:none;
}
.send-fun{
    float: left;
    color: #999;
    margin-bottom: 5px;
    font-size: 12px;
    /*margin-left: -230px;*/
}
.weight{
    float: left;
    line-height: 32px;
    width: 740px;
    height: 32px;
    /*background: palegoldenrod;*/
    margin-bottom: 3px;
    margin-top: 10px;
    border-bottom: 1px dotted #CCCCCC;
}
.jd-weight{
    color: #999;
    float: left;
    padding-left: 10px;
    font-size: 12px;
}
.choose-attrs-a{
    width: 740px;
    height: 40px;
    /*background: deeppink;*/
    float: left;
    line-height: 40px;
    margin-top: 10px;
}
.choose-color{
    width: 50px;
    font-size: 12px;
    color: #999999;
    line-height: 40px;
    margin-left: 10px;
}
.choose-phone{
    margin-left: 70px;
    /*height: 40px;*/
    /*width: 670px;*/
    /*background: hotpink;*/
    margin-top: -40px;
}
.choose-phone-list{
    float: left;
    width: auto;
    height: 44px;
    background: #f7f7f7;
    margin-right: 10px;
    margin-bottom: 10px;
}
.choose-phone-a{
    display: block;
    width: auto;
    height: 44px;

}
.choose-phone-a img{
    height:40px;
    width: 40px;
    float: left;
}
.choose-color-name{
    float: left;
    display: block;
    font-size: 12px;
    color: #666666;
    margin:0px 10px;
}
.choose-a-border{
    border: 1px solid #E3393C;
}
.choose-b-border{
    border: 1px solid #CCCCCC;
}
.choose-type{
    width: 740px;
    height: 30px;
    /*background: deeppink;*/
    float: left;
    line-height: 30px;
    margin-top: 10px;
}
.choose-type-list{
    float: left;
    width: auto;
    height: 30px;
    background: #ffffff;
    margin-right: 10px;
    margin-bottom: 10px;
}
.choose-type-a{
    display: block;
    padding: 0px 10px;
    font-size: 12px;
    color: #666666;
}
.choose-gift{
    width: 740px;
    height: 46px;
    /*background: deeppink;*/
    float: left;
    line-height: 46px;
    margin-top: 20px;
}
.gift-icon{
    background: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
    float: left;
}
.sprite-gift{
    /*float: left;*/
    display: inline-block;
    height: 16px;
    margin: 0 11px;

    width: 16px;
    background: url("../imgs/details/gift.png");
}
.gift-tips{
    /*float: left;*/
    display: inline-block;
    background: #f7f7f7;
    padding: 0 10px;
    font-size: 12px;
    color: #666666;
}
.choose-service{
    width: 740px;
    height: 30px;
    /*background: deeppink;*/
    float: left;
    line-height: 30px;
    margin-top: 20px;
}
.yb-item-cat{
    float: left;
    position: relative;
}
.choose-service-a{
    margin-left: 70px;
    margin-top: -41px;
}
.yb-item{
    float: left;
    width: 174px;
    height: auto;
    margin-left: 10px;
}
.yb-item-img{
    clear: both;
    /*display: inline-block;*/
    height: 16px;
    margin-right: 4px;
    margin-left: 10px;
    width: 16px;
    margin-top: -7px;
}
.sever-name{
    display: inline-block;
    font-size: 12px;
    height: 20px;
    margin-right: 4px;
    max-width: 60px;
    margin-top: -2px;
    color: #666666;
}
.sever-price{
    font-size: 12px;
    color: #666666;
}
.server-icon{
    display: inline-block;
    height: 10px;
    vertical-align: middle;
    width: 15px;
    background: url("../imgs/details/service-icon.png") -2px -1px;
}
.choose-baitiao{
    width: 732px;
    height: 32px;
    line-height: 32px;
    margin-bottom: 3px;
    /*background: pink;*/
}
.baitiao{
    width: auto;
    height: 32px;
    position: relative;
    float: left;
    z-index: 100;
    border: 1px solid #CCCCCC;
    margin-left: 15px;
}
.baitiao-a{
    display: block;
    font-size: 14px;
    height: 32px;
    line-height: 30px;
    padding: 0px 10px;
    color: #666666;
    position: relative;
    z-index: 100;
}
.baitiao-dropdown{
    width: 200px;
    height: 30px;
    border: 1px solid #CCCCCC;
    position: absolute;
    display: none;
    font-size: 12px;
    color: #666666;
    background: #ffffff;
}
.baitiao:hover>.baitiao-dropdown{
    display: block;
}
.baitiao:hover{
    border-color:#E3393C #E3393C #ffffff #E3393C;
}
.choose-btns{
    width: 740px;
    height: 70px;
    /*background: deeppink;*/
    float: left;
    line-height: 30px;
    margin-top: 20px;

}
.choose-amount{
    border: 1px solid #ccc;
    height: 44px;
    width: 48px;
    overflow: hidden;
    position: relative;
    margin-top: -45px;
}
.btn-reduce{
    border: 0 none;
    display: block;
    height: 44px;
    left: 0;
    line-height: 42px;
    position: absolute;
    text-align: center;
    top: 0px;
    width: 34px;
}
.buy-num{
    display: block;
    width: 15px;
    height: 22px;
    line-height: 22px;
    overflow: hidden;
    position: absolute;
    right: 1px;
    text-align: center;
    background: #f1f1f1;
    border: 1px solid #ccc;
    top:22px;

}
.btn-add{
    float: left;
    background: #f1f1f1 none repeat scroll 0 0;
    border: 1px solid #ccc;
    color: #666;
    display: block;
    height: 22px;
    line-height: 22px;
    overflow: hidden;
    position: absolute;
    right: 1px;
    text-align: center;
    width: 15px;
}
.btn-lg{
    clear: both;
    display: block;
    margin-left: 70px;
    /*float: left;*/
    margin-right: 10px;
    font-size: 18px;
    height: 46px;
    width: 100px;
    line-height: 46px;
    background-color: #df3033;
    color: #fff;
    font-weight: bold;
    padding: 0 26px;
    margin-top: 20px;
}
.local-tips{
    float: left;
    height: 15px;
    width: 732px;
    margin-top: 20px;
}
.local-tips-act{
    color: #999;
    float: left;
    padding-left: 10px;
    font-size: 12px;
}
.local-tips-main{
    margin-left: 70px;

}
.local-tips-tishi{
    float: left;
    height: 15px;
    width: 732px;
    margin-top: 10px;
}
.contact-main{
    float: left;
    width: 1210px;
    height: 200px;
    margin-left: 70px;
    /*background: pink;*/
    position: relative;
    margin-top: 20px;
    /*top: 720px;*/
}
.contact-title{
    width: 1210px;
    height: 40px;
    background: #F7F7F7;
    border-bottom: 1px solid #df3033;
}
.contact-list{
    height: 40px;
    width: 100px;
    /*background: yellow;*/
    float: left;
    /*margin-left: 10px;*/

}
.contact-list+.contact-list{
    margin-left: 10px;
}
.contact-title-a{
    display: inline-block;
    height: 40px;
    width: 100px;
    /*background: blue;*/
    /*padding: 10px 20px;*/
    text-align: center;
    line-height: 40px;
    color: #B4B48D;
    font-size: 14px;
}
.contact-title-a1{
    color: #ffffff;

}
.contact-content{
    width: 1210px;
    height: auto;
    /*background: paleturquoise;*/
}
.contact-first1{
    margin: 15px 0 25px 0;
    float: left;
    width: 148px;
    height: 164px;
    /*background: greenyellow;*/
}
.contact-first-a{
    display: block;
    width: 100px;
    height: 100px;
    /*background: navajowhite;*/
}
.contact-first-top{
    width: 148px;
    height: 100px;
    /*background: royalblue;*/
    position: relative;
}
.contact-first-span{
    float: left;
    display: block;
    width: 23px;
    height: 23px;
    /*background: salmon;*/
    position: absolute;
    right: 0;
    top:40px;
    background: url("../imgs/details/plus.png");
}
.contact-first-bottom{
    float: left;
    height: 56px;
    width: 148px;
    /*background: lightcoral;*/
}
.contact-first-bottom-a{
    font-size: 12px;
    color: #666666;
}
.contact-second{
    float: left;
    width: 842px;
    height: 190px;
    /*background: salmon;*/
    position: relative;
    margin-top: 15px;
}
.page-left{
    width: 23px;
    height: 73px;
    /*background: rosybrown;*/
    position: absolute;
    left:20px;
    top:20px;
    background: url("../imgs/details/page-btn.png") 0 -94px;
}
.page-right{
    width: 23px;
    height: 73px;
    /*background: rosybrown;*/
    position: absolute;
    right:20px;
    top:20px;
    background: url("../imgs/details/page-btn.png") -46px 0;
}
.contact-second-main{
    width: 720px;
    height: 160px;
    /*background: forestgreen;*/
    position: relative;
    margin-left:70px;
}
.contact-second-li{
    width: 136px;
    height: 164px;
    /*background: cyan;*/
    float: left;
    /*margin-left: 10px;*/
}
.contact-second-li+.contact-second-li{
    margin-left: 10px;
}
.contact-second-top{
    height: 108px;
    width: 136px;
    /*background: tomato;*/
}
.contact-second-a{
    display: block;
    height: 100px;
    width: 100px;
    float: left;
}
.contact-second-bottom{
    width: 136px;
    height: auto;
    /*background: magenta;*/
}
.contact-second-bottom-a{
    display: block;
    height: 28px;
    font-size: 12px;
    color: #666666;
    overflow: hidden;
    text-overflow: clip;
}
.contact-second-bottom span{
    color: #E4393C;
    font-size: 14px;
}
.contact-second-right{
    height: 144px;
    width: 204px;
    /*background: mediumaquamarine;*/
    float: left;
    margin-top: 15px;
    position: relative;
}
.dengyu{
    height: 23px;
    width: 23px;
    position: absolute;
    background: lightgrey;
    top:20px;
    background: url("../imgs/details/equal.png") no-repeat;
}
.peijian{
    width: 152px;
    height: 20px;
    /*background: hotpink;*/
    margin-left: 30px;
    font-size: 12px;
    color: #666666;
    text-align: left;
    line-height: 20px;
    margin-bottom: 15px;
}
.peijian-span{
    font-size: 16px;
    font-weight: bold;
    color: #DF3033;
}
.contact-second-right-a1{
    display: block;
    height: 30px;
    width: 94px;
    background:#DF3033 ;
    margin-left: 30px;
    color: #ffffff;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
    margin-bottom: 15px;
}
.contact-second-right-a2{
    display: block;
    height: 30px;
    width: 94px;
    margin-left: 30px;
    color: #666666;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
    border: 1px solid #dddddd;
}
.contact-second-right-a2:hover{
    color:#DF3033 ;
}
.detail{
    float: left;
    width: 1210px;
    height: 2350px;
    margin-left: 70px;
    margin-top: 20px;
    /*background: #f5e79e;*/
}
.detail-left{
    float: left;
    width: 210px;
    height: 500px;
    /*background: blueviolet;*/
    margin-right: 10px;
}
.detail-left-first{
    float: left;
    width: 210px;
    height: auto;
    /*background: #e7c3c3;*/
    border: 1px solid #dddddd;
    margin-bottom: 15px;
}
.detail-right{
    float: left;
    width: 990px;
    height: 500px;
    /*background: forestgreen;*/
}

.detail-left-first-a{
    display: block;
    font-size: 14px;
    font-weight: bold;
    color: #666666;
    text-align: center;
    line-height: 40px;
}
.detail-left-first-a:hover{
    color:#DF3033 ;
}
.detail-left-first-span{
    float: left;
    display: inline-block;
    height: 20px;
    width: 16px;
    background: url("../imgs/details/sprite-gys-im.gif");
    margin-top: -28px;
    margin-left: 180px;
}
.detail-left-first-main{
    width: 188px;
    height: 58px;
    /*background: forestgreen;*/
    margin: 0px 10px;

}
.detail-left-a{
    float: left;
    display: block;
    width:80px;
    height: 38px;
    /*background: gold;*/
    margin-top: 10px;
    margin-right: 6px;
    margin-left: 6px;
    border: 1px solid #CCCCCC;
    font-size: 14px;
    text-align: center;
    line-height: 38px;
    color: #666666;
    background: #f7f7f7;
}
.detail-left-second-main{
    width: 188px;
    height: 260px;
    /*background: forestgreen;*/
    margin: 0px 10px;
}
.li1{
    background-color: #eef1ff;
    margin: 5px 15px 10px 0;
    padding: 2px 4px;
    font-size: 12px;
    color: #666666;
    display: inline-block;
}
.detail-left-first-title{
    width: 210px;
    height: 40px;
    background: #f7f7f7;
    border-bottom: 1px solid #dddddd;
}
.detail-right-title{
    height: 40px;
    width: 990px;
    background: #f7f7f7;
    position: relative;

}
.detail-right-li{
    height: 40px;
    width: 112px;
    /*background: red;*/
    float: left;
}
.detail-right-a{
    display: block;
    height: 40px;
    font-size: 14px;
    color: #666666;
    text-align: center;
    line-height: 40px;
}
.detail-right-a1{
    display: block;
    height: 40px;
    font-size: 14px;
    background: #E4393C;
    color: #ffffff;
    text-align: center;
    line-height: 40px;
}
.detail-right-main{
    height: auto;
    width: 990px;
    margin-top: 10px;
    /*background: darkkhaki;*/
    margin-bottom: 10px;
}
.detail-main-first{
    height: 245px;
    width: 974px;
    /*background: #f0ad4e;*/
    margin-left: 10px;
    border-bottom: 1px solid #dddddd;
}
.phone-infor{
    padding: 20px 0 15px;
    margin-top: 20px;
}
.information1{
    width: 200px;
    height: 30px;
    /*background: rosybrown;*/
    float: left;
    font-size: 12px;
    color: #666666;
    margin-right: 15px;
}
.i-phone{
    display: block;
    float: left;
 /*   line-height: 1000px;
    margin-left: -37px;
    margin-top: 2px;
    overflow: hidden;*/
    width: 33px;
    height: 33px;
    background: url("../imgs/details/phone.png");
    /*background: red;*/
}
.i-camera{
    float: left;
    width: 33px;
    height: 33px;
    /*line-height: 1000px;*/
    /*margin-left: -37px;*/
    /*margin-top: 2px;*/
    overflow: hidden;
    background: url("../imgs/details/cream.png");
}
.i-cpu{
    float: left;
    height: 33px;
    overflow: hidden;
    width: 33px;
    background: url("../imgs/details/cpu.png");
}

.phone-pinpai{
    height: 53px;
    width: 732px;
    /*background: hotpink;*/
}
.oppo{
    float: left;
    margin-bottom: 5px;
    padding-left: 42px;
    font-size: 12px;
    color: #666666;
}
.guanzhu{
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    height: 23px;
    line-height: 23px;
    padding: 0 10px;
    margin-left: 5px;
    color: #666666;
}
.guanzhu b{
    color: #e4393c;
    font-size: 22px;
    padding-right: 3px;
    vertical-align: middle;
}
.phone-infor-li{
    float: left;
    margin-bottom: 15px;
    padding-left: 42px;
    width: 200px;
    font-size: 12px;
    color: #666666;

}
.video{
    display: block;
    margin-left: 150px;
    width: 750px;
}
.hot-duibi{
    width: 750px;
    height: 500px;
    /*background: pink;*/
    margin-left: 150px;
    margin-top: 15px;
}
.footer-2014{
    width: 1210px;
    height: 200px;
    float: left;
    /*background: red;*/
    margin-left: 70px;

}
.slogen{
    height: 54px;
    margin-bottom: 14px;
    padding: 20px 0;
    position: relative;
    text-align: center;
    background: #f5f5f5;
}
.slogen-main{
    width: 990px;
    height: 54px;
    margin: 0 auto;
}
.slogen-main div{
    float: left;
    margin-left: 15px;

}
.footer{
    margin:0 auto;
    width:1000px;
    height: 180px;
    /*border-bottom: 1px solid #dddddd;*/
}
.fore1{
    float: left;
    width: 200px;
}
.dt{
    padding: 6px 0;
    font-size:16px;
    font-weight: bold;
}
.dt-a{
    display: block;
    font-size: 14px;
    line-height: 20px;
    color: #666666;
}
.dt-a:hover{
    color: #D91F20;
}
.footer-2014{
    width: 1210px;
    margin-left: 70px;
    border-top: 1px solid #e5e5e5;
    padding: 20px 0 30px;
    text-align: center;
}
.links-a{
    margin: 0 10px;
    color: #666666;
    font-size: 12px;
}
.copyright{
    margin: 10px 0;
}
.copyright-a{
    color: #666666;
    font-size: 12px;
}
.copyright-a:hover{
    color: #D91F20;
}
.auth-a{
    margin: 0 5px;
}